body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}
.main{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
}
.cart-container {
    display: flex;
    width: 50%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.icon-cart {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.cart-container .material-symbols-outlined {
    cursor: pointer;
}
img {
    width: 150px;
}
.container {
    display: flex;
    margin: 3rem auto; 
    gap: 30px;
    border-top: 1px solid rgb(195, 182, 182);
    padding-top: 2rem;
    width: 50%;
}
.picture {
    align-self: center;
}
.about {
    width: 50%;
}
.buy {
    width: 30%;
}
.about .name {
    color: blue;
    font-size: 1.5rem;
}
.about .rating {
    display: flex;
    padding: 1rem 0;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24
}
.full-star {
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 0,
    'opsz' 24
}
.about .rating .text {
    padding-top: 1rem;
}
.buy {
    display: flex;
    flex-direction: column;
}
.buy button {
    margin-top: 2rem;
    padding: .5rem;
    background-color: rgb(255, 217, 0);
    border: none;
    border-radius: .5rem;
    max-width: 200px;
    cursor: pointer;
}
.discount {
    padding: .25rem;
    border-radius: .5rem;
    color: white;
    background-color: red;
    width: fit-content;
    float: right;
}

@media screen and (max-width: 1100px){
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}